$brand: #47278b;
$primary: #47278b;
$normal_text: #333333;
$sub_text: #999999;
$contra_text: #ffffff;
$surface: #ffffff;
$mono01: #191919;
$mono02: #393939;
$mono03: #575757;
$mono04: #6a6a6a;
$mono05: #929292;
$mono06: #b3b3b3;
$mono07: #d7d7d7;
$mono08: #e7e7e7;
$mono09: #f1f1f1;
$mono10: #f9f9f9;
$mono11: #fafafa;
$card: #fbfbfb;
$card_border: #efefef;
$success: #15a32b;
$success_sub: #22ae38;
$warning: #f3ab1e;
$warining_sub: #f3ab1e;
$info: #418ce3;
$info_sub: #418ce3;
$error: #f44848;
$error_sub: #f44848;
$terminated: #999999;
$terminated_sub: #999999;
