@use "sass:color";
@use "./theme" as t;

.v-main {
  min-width: 960px;
  > .v-container {
    padding: 30px;
  }
  .backto {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .v-card {
    margin-bottom: 35px;
    > .v-container {
      padding: 20px 22px;
    }
    box-shadow: none !important;
  }

  .v-text-field input {
    font-size: t.$middle_text;
    // padding: 8px 12px;
  }

  .v-input {
    > .v-input__details {
      padding: 6px 16px 6px !important
    }
  }
  .uploader {
    height: 168px;
  }

  .subtable > .v-table__wrapper > table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
  }
  .subtable > .v-table__wrapper > table > tbody > div > div {
    > tr > td {
      border-bottom: 1px solid t.$mono07;
    }
    > tr:last-child > td {
      border-bottom: none;
    }

  }
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

.fill-height {
  height: 100vh;
}

.successsub {
  font-size: t.$middle_text;
  background-color: rgba(t.$success, 0.12);
  text-align: left;
  padding: 10px 17px;
}

.warningsub {
  background-color: rgba(t.$warining_sub, 0.12);
  text-align: left;
  padding: 10px 17px;
}

.errorsub {
  background-color: rgba(t.$error, 0.12);
  text-align: left;
  padding: 10px 17px;
}

.footer {
  font-size: t.$small_text;
  color: t.$terminated;
  text-align: center;
}

.fill-height {
  height: 100vh;
}

.toast_msg_err {
  padding: 5px 10px;
  color: t.$error;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid t.$error;
  border-left-width: 8px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.toast_msg_success {
  padding: 5px 10px;
  color: t.$success;
  background-color: t.$surface;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid t.$success;
  border-left-width: 8px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.alert_msg_err {
  padding: 5px 10px;
  color: t.$error;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid t.$error;
  border-left-width: 8px;
  border-radius: 4px;
}
.alert_msg_warn {
  padding: 5px 10px;
  color: t.$warning;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid t.$warning;
  border-left-width: 8px;
  border-radius: 4px;
}

.card_background {
  background-color: t.$mono10;
}
.bg-credit-color {
  background-color: t.$mono11;
}

$box: (
  "info": t.$info,
  "warn": t.$warning,
  "error": t.$error,
);

@each $key, $color in $box {
  .#{$key}-box {
    color: $color;
    background-color:t.$surface;
    border: 1px solid;
    border-left: 8px solid;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    height: 40px;
    width: 100%;
    display: table;

    > i.v-icon {
      // margin-right: 10px;
      margin-left: 5px;
      width: 16px;
      height: 16px;
    }

    > span {
      display: table-cell;
      vertical-align: middle;
    }
  }
}


.link {
  font-size: 0.75em;
}
.link:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: t.$mono10;
  color: t.$primary;
}

.pointer {
  cursor: pointer;
}