@use "sass:color";
@use "./theme" as t;

// ヘッダー
h1 {
  color: t.$normal_text;
  font-size: t.$big_title;    //24px
  font-weight: 600;
}

h2 {
  color: t.$normal_text;
  font-size: t.$middle_title; //20px
  font-weight: 600;
}

h3 {
  color: t.$normal_text;
  font-size: t.$small_title;  //14px
  font-weight: 600;
}

h4 {
  color: t.$normal_text;
  font-size: t.$petit_title;  //12px
  font-weight: 600;
}

// 標準フォント
a {
  color: t.$brand;
  font-size: t.$middle_text;
  text-decoration: none;
}
a:visited {
  color: t.$primary;
}

p {
  color: t.$normal_text;
  font-size: t.$middle_text;
}

span {
  font-size: t.$middle_text;
}

table {
  color: t.$normal_text;
  border: 1px solid t.$mono07;
}


// セレクタ
.b1 {
  color: t.$normal_text;
  font-size: t.$big_text;     //16px
}

.b2 {
  color: t.$normal_text;
  font-size: t.$middle_text;  //14px
}

.b3 {
  color: t.$normal_text;
  font-size: t.$small_text;   //12px
}

.b4 {
  color: t.$normal_text;
  font-size: t.$petit_text;   //10px
}

.sub {
  color: t.$sub_text;
}

.bold {
  font-weight: 600;
}

.brand {
  color: t.$brand;
}

.title {
  border-left: 4px solid t.$brand;
  padding-left: 5px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.v-checkbox .v-label {
  color: t.$normal_text;
  font-size: t.$middle_text;
}

.v-chip {
  padding: 0 15px !important;
  margin: 0;
}
.v-chip__content {
  font-size: t.$middle_text;
  font-weight: 600;
}
.standout_text{
  color: t.$primary;
  font-weight: 600;
}
