@use "sass:color";
@use "./theme" as t;

nav.v-navigation-drawer {
  a {
    padding: 0;
  }
  i.v-icon {
    width: 1em;
    height: 1em;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
  }
  .v-list-item-hover {
    color: t.$brand !important;
    background-color: t.$mono10;
  }
}
