@use "sass:color";
@use "./theme" as t;

table {
  color: t.$normal_text;
  border: 1px solid t.$mono07;

  > tbody {
    tr:has(> td > .disabled-row){
      > td {
        // 無効行のtd要素に色設定をする
        // trに設定した場合、td要素で上書きされてしまう
        background-color: t.$mono09 !important
      }
    }
    > tr > td > .v-chip.v-chip--size-default {
      --v-chip-height: 20px;
    }
  }

}

.invoice_table {
  > div.v-table__wrapper > table {
    border-top: none;
    border-left: none;
    border-right: none;
    > thead > tr > th {
      height: calc(var(--v-table-header-height) - 15px);
    }
  }
}
